<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.stone.core.dao.SysParamDao">

<resultMap type="SysParam" id="SysParam">
	<id column="PARAM_ID" property="paramId" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="PARAM_KEY" property="paramKey" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="PARAM_NAME" property="paramName" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="PARAM_VALUE" property="paramValue" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="MEMO" property="memo" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="IS_CONFIGURABLE" property="isConfigurable" javaType="java.lang.Integer" jdbcType="TINYINT"/>
	<result column="IS_DELETED" property="isDeleted" javaType="java.lang.Integer" jdbcType="TINYINT"/>
	<result column="CREATE_TIME" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
	<result column="UPDATE_TIME" property="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
	<result column="OPERATOR_TYPE" property="operatorType" javaType="java.lang.Integer" jdbcType="TINYINT"/>
	<result column="OPERATOR_ID" property="operatorId" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="PARAM_VALUE_TYPE" property="paramValueType" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="PARAM_VALUE_MODE" property="paramValueMode" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="PARAM_VALUE_JSON" property="paramValueJson" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="SEQ" property="seq" javaType="java.lang.Integer" jdbcType="TINYINT"/>
	<result column="PARAM_GROUP" property="paramGroup" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="PARAM_TYPE" property="paramType" javaType="java.lang.String" jdbcType="VARCHAR"/>
	<result column="PARAM_VALUE2" property="paramValue2" javaType="java.lang.String" jdbcType="VARCHAR"/>
</resultMap>


<!-- 全部字段，一般用于明细查询 -->
<sql id="AllColumnlist">
PARAM_ID,PARAM_KEY,PARAM_NAME,PARAM_VALUE,MEMO,IS_CONFIGURABLE,IS_DELETED,
CREATE_TIME,UPDATE_TIME,OPERATOR_TYPE,OPERATOR_ID,PARAM_VALUE_TYPE,PARAM_VALUE_MODE,
PARAM_VALUE_JSON,SEQ,PARAM_GROUP,PARAM_TYPE,PARAM_VALUE
</sql>

<!-- 常见字段，一般用于列表查询，可能不包含备注之类的字段 -->
<sql id="CommonColumnlist">
PARAM_ID,PARAM_KEY,PARAM_NAME,IS_CONFIGURABLE,IS_DELETED,MEMO,
CREATE_TIME,UPDATE_TIME,OPERATOR_TYPE,OPERATOR_ID,PARAM_VALUE_TYPE,PARAM_VALUE_MODE,
SEQ,PARAM_GROUP,PARAM_TYPE,PARAM_VALUE
</sql>

<insert id="add" parameterType="SysParam" useGeneratedKeys="true" keyProperty="paramId">
	insert into T_SYS_PARAM(
		<if test="paramId!=null">
		PARAM_ID,
		</if>
		PARAM_KEY,
		PARAM_NAME,
		PARAM_VALUE,
		MEMO,
		IS_CONFIGURABLE,
		IS_DELETED,
		CREATE_TIME,
		UPDATE_TIME,
		OPERATOR_TYPE,
		OPERATOR_ID,
		PARAM_VALUE_TYPE,
		PARAM_VALUE_MODE,
		PARAM_VALUE_JSON,
		SEQ,
		PARAM_GROUP,
		PARAM_TYPE,
		PARAM_VALUE2
	) values (
		<if test="paramId!=null">
		#{paramId,jdbcType = VARCHAR},
		</if>
		#{paramKey,jdbcType = VARCHAR},
		#{paramName,jdbcType = VARCHAR},
		#{paramValue,jdbcType = VARCHAR},
		#{memo,jdbcType = VARCHAR},
		#{isConfigurable,jdbcType = TINYINT},
		#{isDeleted,jdbcType = TINYINT},
		#{createTime,jdbcType = TIMESTAMP},
		#{updateTime,jdbcType = TIMESTAMP},
		#{operatorType,jdbcType = TINYINT},
		#{operatorId,jdbcType = VARCHAR},
		#{paramValueType,jdbcType = VARCHAR},
		#{paramValueMode,jdbcType = VARCHAR},
		#{paramValueJson,jdbcType = VARCHAR},
		#{seq,jdbcType = TINYINT},
		#{paramGroup,jdbcType = VARCHAR},
		#{paramType,jdbcType = VARCHAR},
		#{paramValue2,jdbcType = VARCHAR}
	)
</insert>

<update id="update" parameterType="SysParam">
	update T_SYS_PARAM 
	<set>
		<if test="paramKey!=null and paramKey!=''">
			PARAM_KEY=#{paramKey,jdbcType = VARCHAR},
		</if>
		<if test="paramName!=null and paramName!=''">
			PARAM_NAME=#{paramName,jdbcType = VARCHAR},
		</if>
		<if test="paramValue!=null and paramValue!=''">
			PARAM_VALUE=#{paramValue,jdbcType = VARCHAR},
		</if>
		<if test="memo!=null and memo!=''">
			MEMO=#{memo,jdbcType = VARCHAR},
		</if>
		<if test="isConfigurable!=null ">
			IS_CONFIGURABLE=#{isConfigurable,jdbcType = TINYINT},
		</if>
		<if test="isDeleted!=null ">
			IS_DELETED=#{isDeleted,jdbcType = TINYINT},
		</if>
		<if test="createTime!=null ">
			CREATE_TIME=#{createTime,jdbcType = TIMESTAMP},
		</if>
		<if test="updateTime!=null ">
			UPDATE_TIME=#{updateTime,jdbcType = TIMESTAMP},
		</if>
		<if test="operatorType!=null ">
			OPERATOR_TYPE=#{operatorType,jdbcType = TINYINT},
		</if>
		<if test="operatorId!=null and operatorId!=''">
			OPERATOR_ID=#{operatorId,jdbcType = VARCHAR},
		</if>
		<if test="paramValueType!=null and paramValueType!=''">
			PARAM_VALUE_TYPE=#{paramValueType,jdbcType = VARCHAR},
		</if>
		<if test="paramValueMode!=null and paramValueMode!=''">
			PARAM_VALUE_MODE=#{paramValueMode,jdbcType = VARCHAR},
		</if>
		<if test="paramValueJson!=null and paramValueJson!=''">
			PARAM_VALUE_JSON=#{paramValueJson,jdbcType = VARCHAR},
		</if>
		<if test="seq!=null ">
			SEQ=#{seq,jdbcType = TINYINT},
		</if>
		<if test="paramGroup!=null and paramGroup!=''">
			PARAM_GROUP=#{paramGroup,jdbcType = VARCHAR},
		</if>
		<if test="paramType!=null and paramType!=''">
			PARAM_TYPE=#{paramType,jdbcType = VARCHAR},
		</if>
		<if test="paramValue2!=null and paramValue2!=''">
			PARAM_VALUE2=#{paramValue2,jdbcType = VARCHAR},
		</if>
	</set>
	<where>
		AND PARAM_ID=#{paramId}
	</where>
</update>

<delete id="delete">
	delete from T_SYS_PARAM 
	<where>
		PARAM_ID=#{0}
	</where>
</delete>

<select id="get" resultMap="SysParam">
	select <include refid="AllColumnlist"/> from T_SYS_PARAM
	<where>
		PARAM_ID=#{0}
	</where>
</select>

<select id="getByParamKey" resultMap="SysParam">
	select <include refid="AllColumnlist"/> from T_SYS_PARAM
	<where>
		PARAM_KEY=#{0}
	</where>
</select>

<select id="getByParamName" resultMap="SysParam">
	select * from T_SYS_PARAM
	<where>
		PARAM_NAME=#{0}
	</where>
</select>

<select id="getByIds" resultMap="SysParam">
	select <include refid="AllColumnlist"/> from T_SYS_PARAM
	<where>
		PARAM_ID in <foreach item="item" index="index" collection="array" open="(" separator="," close=")">#{item}</foreach>
	</where>
</select>

<select id="count" parameterType="Query" resultType="Long">
	select count(PARAM_ID) from T_SYS_PARAM 
	<where>
	<include refid="listCommonWhere"/>
	</where>
</select>

<select id="queryAll" parameterType="Query" resultMap="SysParam">
	select <include refid="CommonColumnlist"/> from T_SYS_PARAM 
	<where>
	<include refid="listCommonWhere"/>
	</where>
</select>

<select id="pageList" parameterType="Query" resultMap="SysParam">
	select <include refid="CommonColumnlist"/> from T_SYS_PARAM
	<where>
	 <include refid="listCommonWhere"/>
	</where>
	<![CDATA[LIMIT #{rowIndex},#{pageSize} ]]>
</select>


<sql id="listCommonWhere">
    <if test="q==null"><!-- 无传入参数时默认查未删除的 -->
       AND IS_DELETED=0
    </if>
	<if test="q!=null">
		<if test="q.paramId!=null and q.paramId!=''">
			AND PARAM_ID=#{q.paramId}
		</if>
		<if test="q.paramKey!=null and q.paramKey!=''">
			AND PARAM_KEY like '%${q.paramKey}%'
		</if>
		<if test="q.paramName!=null and q.paramName!=''">
			AND PARAM_NAME like '%${q.paramName}%'
		</if>
		<if test="q.paramValue!=null and q.paramValue!=''">
			AND PARAM_VALUE=#{q.paramValue}
		</if>
		<if test="q.memo!=null and q.memo!=''">
			AND MEMO=#{q.memo}
		</if>
		<if test="q.isConfigurable!=null ">
			AND IS_CONFIGURABLE=#{q.isConfigurable}
		</if>
		<if test="q.isDeleted!=null ">
			AND IS_DELETED=#{q.isDeleted}
		</if>
		<if test="q.createTime!=null ">
			AND CREATE_TIME=#{q.createTime}
		</if>
		<if test="q.createTimeStart!=null">
		<![CDATA[	AND CREATE_TIME>=#{q.createTimeStart}  ]]>
		</if>
		<if test="q.createTimeEnd!=null">
		<![CDATA[	AND CREATE_TIME<#{q.createTimeEnd}   ]]>
		</if>
		<if test="q.updateTime!=null ">
			AND UPDATE_TIME=#{q.updateTime}
		</if>
		<if test="q.updateTimeStart!=null">
		<![CDATA[	AND UPDATE_TIME>=#{q.updateTimeStart}  ]]>
		</if>
		<if test="q.updateTimeEnd!=null">
		<![CDATA[	AND UPDATE_TIME<#{q.updateTimeEnd}   ]]>
		</if>
		<if test="q.operatorType!=null ">
			AND OPERATOR_TYPE=#{q.operatorType}
		</if>
		<if test="q.operatorId!=null and q.operatorId!=''">
			AND OPERATOR_ID=#{q.operatorId}
		</if>
		<if test="q.paramValueType!=null and q.paramValueType!=''">
			AND PARAM_VALUE_TYPE=#{q.paramValueType}
		</if>
		<if test="q.paramValueMode!=null and q.paramValueMode!=''">
			AND PARAM_VALUE_MODE=#{q.paramValueMode}
		</if>
		<if test="q.paramValueJson!=null and q.paramValueJson!=''">
			AND PARAM_VALUE_JSON=#{q.paramValueJson}
		</if>
		<if test="q.seq!=null ">
			AND SEQ=#{q.seq}
		</if>
		<if test="q.paramGroup!=null and q.paramGroup!=''">
			AND PARAM_GROUP=#{q.paramGroup}
		</if>
		<if test="q.paramType!=null and q.paramType!=''">
			AND PARAM_TYPE=#{q.paramType}
		</if>
		<if test="q.paramValue2!=null and q.paramValue2!=''">
			AND PARAM_VALUE2=#{q.paramValue2}
		</if>
	</if>
</sql>

</mapper>